[project]
name = "msc-ai-group-project"
version = "0.1.0"
description = "Exposing LLM uncertainty, unfairness, and other related trustworthiness metrics to users at response time.Exposing LLM uncertainty, unfairness, and other related trustworthiness metrics to users at response time."
readme = "README.md"
requires-python = ">=3.12"
dependencies = []
